<style > :root
{
  --image-ratio-mobile: 100px;
  --image-ratio-desktop: 200px;
}
[data-block-handle="jackpot-spin-and-shop"] {
  margin-block: 50px;
  padding: 15px;
  box-shadow: 0 0 50px 10px #dddddd;
  border-radius: 20px;
  border:1px solid #f1f1f1;
}
.section-left {
  flex-grow: 1;
}
@media(min-width:768px){
  [data-block-handle="jackpot-spin-and-shop"] {
    padding: 30px;
}
}
.slots-{{- block.id -}}{
  display: flex;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
  height: var(--image-ratio-mobile);
  gap: .5rem;
  margin-inline: auto;
}
@media(min-width: 768px) {
  .slots-{{- block.id -}}{
  gap: 1rem;
    height: var(--image-ratio-desktop);
  }
}

.slot-{{- block.id -}}{
  width: var(--image-ratio-mobile);
  overflow: hidden;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
@media(min-width: 768px) {
  .slot-{{- block.id -}}{
    width: var(--image-ratio-desktop);
  }
}

ul.list-{{- block.id -}}{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  transition: top 1.5s ease-out;
}

li.product-{{- block.id -}}{
  height: var(--image-ratio-mobile);
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: #f9f9f9;
  position: relative;
}
@media(min-width: 768px) {
  li.product-{{- block.id -}}{
    height: var(--image-ratio-desktop);
  }
}

.product-image-{{- block.id -}}{
  display: flex;
  height: 100%;
  width: 100%;
}

#spinButton-{{- block.id -}}{
  display: block;
  text-align: center;
  height:60px;
  position:relative;
  margin-top:5px;
}


img.spin-images {
  width: 80px;
  height: auto;
  margin-inline: auto;
  position: absolute;
  inset: 0;
  top: auto;
}
@media(min-width: 768px) {
  #spinButton-{{- block.id -}}{
    height:70px;
  }
  img.spin-images {
    width: 100px;
  }
}

section.m-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.section-right {
  min-width: 300px;
}
@media(min-width: 768px) {}

.slot-item-details-{{- block.id -}} {
  position: absolute;
  inset: 0;
  top: unset;
  background: rgba(240, 248, 255, 0.4705882353);
}
h5.product-title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
h5.product-title , p.product-price-{{-block.id-}} {
  margin: 5px;
  line-height: 1;
  color: #000;
}
@media(min-width: 768px) {
  h5.product-title , p.product-price-{{-block.id-}} {
    margin: 10px;
  }
}

h5.product-title a {
  color: currentColor;
  text-decoration: unset;
}

button#add-to-cart-button-{{- block.id -}}{
  background: #000;
  color: #fff;
  border: none;
  height: 40px;
  padding-inline: 0;
  text-transform: uppercase;
  border-radius: 5px;
  cursor:pointer;
  width:150px;
  margin-block:1rem;
}

.text-center {
  text-align: center;
} 
.jackpot-product-details {
    text-align: center;
}
.mrp-price {
    color: red;
}

.save-price {
    color: green;
}

.deal-price {
    color: #d5932e;
}
#add-to-cart-button-{{-block.id-}}.active .atc-name{
  display:none;
}
#add-to-cart-button-{{-block.id-}}.active .spin-loader{
  display:inline!important;
}
h2.m-heading {
  margin-block: 0 1rem;
  text-transform: capitalize;
}
.sub-heading {
  font-size: 16px;
  max-width: 280px;
  margin-inline: auto;
}
@media(min-width:768px){
  .sub-heading {
    font-size: 18px;
  max-width: unset;

}
}
.m-headers{
margin-bottom:30px;
}
h2.m-heading.main-heading.text-center {
  color: #7bbbc2;
  font-weight: 700;
  font-family: system-ui;
}
</style>

{% assign product_list_1 = block.settings.product1 %}
<header class="m-headers"> 
<h2 class="m-heading main-heading text-center">Jackpot Sale 🎰</h2>
<h2 class="m-heading sub-heading text-center">Spin to Win Toys for your 0-12 month old👶🎁</h2>
</header>
<section class="m-container">
<div class="section-left">
  <div class="jackpotSections slots-{{-block.id-}}">
    <div class="slot-{{-block.id-}}">
      <ul class="list-{{-block.id-}}">
        {% for product in product_list_1 %}

          <li data-title="{{ product.title }}" class="product-{{- block.id -}}">
            <img
              class="product-image-{{-block.id-}}"
              width="200"
              height="200"
              src="https://img.freepik.com/premium-photo/oily-paints-light-strokes-realistic-beautiful-cute-squirrel-dancing-branch_933786-1747.jpg"
              loading="lazy">
            <div class="slot-item-details-{{- block.id -}}">
              <h5 class="product-title">{{ product.title | link_to: product.url }}</h5>
              <p
                style="font-size: 12px;"
                class="product-price-{{-block.id-}} "
                data-price="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | divided_by: 100 }}{% else %}{{ product.price  | divided_by: 100 }}{% endif %}">MRP :
                {% if product.compare_at_price > product.price %}
                  {{ product.compare_at_price | money_without_currency }}
                {% else %}
                  {{ product.price | money_without_currency }}{% endif %}
              </p>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>

    <div class="slot-{{-block.id-}}">
      <ul class="list-{{-block.id-}}">
        {% for product in product_list_1 %}
          <li data-title="{{ product.title }}" class="product-{{- block.id -}}">
            <img
              class="product-image-{{-block.id-}}"
              width="200"
              height="200"
              src="https://img.freepik.com/premium-photo/oily-paints-light-strokes-realistic-beautiful-cute-squirrel-dancing-branch_933786-1747.jpg"
              loading="lazy">
            <div class="slot-item-details-{{- block.id -}}">
              <h5 class="product-title">{{ product.title | link_to: product.url }}</h5>
              <p
                style="font-size: 12px;"
                class="product-price-{{-block.id-}} "
                data-price="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | divided_by: 100 }}{% else %}{{ product.price  | divided_by: 100 }}{% endif %}">MRP :
                {% if product.compare_at_price > product.price %}
                  {{ product.compare_at_price | money_without_currency }}
                {% else %}
                  {{ product.price | money_without_currency }}{% endif %}
              </p>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>

    <div class="slot-{{-block.id-}}">
      <ul class="list-{{-block.id-}}">
        {% for product in product_list_1 %}
          <li data-title="{{ product.title }}" class="product-{{- block.id -}}">
            <img
              class="product-image-{{-block.id-}}"
              width=""
              height=""
              alt=""
              src="https://img.freepik.com/premium-photo/oily-paints-light-strokes-realistic-beautiful-cute-squirrel-dancing-branch_933786-1747.jpg"
              loading="lazy">
            <div class="slot-item-details-{{- block.id -}}">
              <h5 class="product-title">{{ product.title | link_to: product.url }}</h5>
              <p
                style="font-size: 12px;"
                class="product-price-{{-block.id-}} "
                data-price="{% if product.compare_at_price > product.price %}{{ product.compare_at_price | divided_by: 100 }}{% else %}{{ product.price  | divided_by: 100 }}{% endif %}">MRP :
                {% if product.compare_at_price > product.price %}
                  {{ product.compare_at_price | money_without_currency }}
                {% else %}
                  {{ product.price | money_without_currency }}{% endif %}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="section-right">
  <span id="spinButton-{{-block.id-}}">
    <img
      id="spin-up-{{-block.id-}}"
      src="https://cdn.shopify.com/s/files/1/0257/0007/3550/files/spin-up.png"
      width="100"
      height="100"
      alt=""
      class="spin-images"
      loading="lazy">
    <img
      id="spin-down-{{-block.id-}}"
      style="display: none;"
      src="https://cdn.shopify.com/s/files/1/0257/0007/3550/files/spin-down.png"
      width="100"
      height="100"
      loading="lazy"
      class="spin-images"
      alt="">
  </span>

  <div class="jackpot-product-details">
    <div class="mrp-price"><span id="mrp-price-{{-block.id}}"></span></div>
    <div class="deal-price">Deal Price : ₹<span id="deal-price-{{-block.id}}">15.98
  </span></div>
    <div class="save-price"><span id="save-price-{{-block.id}}"></span></div>
</div>

  <div class="text-center">
    <button id="add-to-cart-button-{{-block.id-}}">
    <span class="atc-name">Add To Cart</span>
    <span class="spin-loader" style="display:none">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" style="margin: auto;display: block; shape-rendering: auto;" width="30px" height="30px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <circle cx="50" cy="50" fill="none" stroke="#ffffff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
      </circle>
      </svg>
    </span>
    </button>
  </div>
</div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function() {
"use strict";
  const spin_btn = document.querySelector("#spinButton-{{-block.id-}}");
  const listContainer = document.querySelector(".list-{{-block.id-}}");
  const listItems = listContainer.querySelectorAll("li");
  const totalItems = listItems.length;
  let dealPrice = document.querySelector("#deal-price-{{-block.id}}").textContent

  let totalPrice = 0;
  let itemHeight = 200;
  if (window.innerWidth < 768) {
    itemHeight = 100;
  }
  if (spin_btn) {
    spin_btn.addEventListener("click", function(e) {
      const slots = document.querySelectorAll(".slot-{{-block.id-}}");
      let indices = Array.from({
        length: totalItems
      }, (_, i) => i);

      slots.forEach(slot => {
        const list = slot.querySelector(".list-{{-block.id-}}");
        const randomIndex = Math.floor(Math.random() * indices.length);
        const chosenIndex = indices[randomIndex];
        indices = indices.filter((_, i) => i !== randomIndex);

        const offset = - chosenIndex * itemHeight;
        list.style.top = `${offset}px`;

        list.addEventListener("transitionend", () => {
          const activeItem = list.children[chosenIndex];
          const previousActiveItem = slot.querySelector(".activeProduct-  {{-block.id-}}");
          if (previousActiveItem) {
            previousActiveItem.classList.remove("activeProduct-{{-block.id-}}");
            previousActiveItem.classList.remove("activeJackpotProduct");
          }
          activeItem.classList.add("activeProduct-{{-block.id-}}");
          activeItem.classList.add("activeJackpotProduct");
          totalPrice = 0;
          const items = document.querySelectorAll(".activeJackpotProduct .product-price-{{-block.id-}}[data-price]");
          items.forEach(function(element) {
            const price = parseFloat(element.getAttribute("data-price"));
            if (!isNaN(price)) {
              totalPrice += price;
            }
          });
          const slotComparePrice = document.querySelector("#mrp-price-{{-block.id}}");
          if (slotComparePrice) {
            slotComparePrice.textContent = `MRP : ₹${totalPrice}`;
          }
          const normalPrice = document.querySelector(".normalPrice-{{-block.id-}}");
          if (normalPrice) {
            if (dealPrice > totalPrice) {
              normalPrice.textContent = '';
              slotComparePrice.textContent = '';
              normalPrice.style.display = 'none';
            } else {
              normalPrice.style.display = 'block';
            }
          }
          const saveAmt = totalPrice - dealPrice;
          const discountPercentage = (totalPrice - dealPrice) / totalPrice;
          const finalDiscountPercentage = discountPercentage * 100;
          const slotSaveAmt = document.querySelector("#save-price-{{-block.id-}}");
          if (slotSaveAmt) {
            slotSaveAmt.textContent = `You Save : ₹${Math.ceil(saveAmt)} (${Math.ceil(finalDiscountPercentage)}% Off)`;
          }
        }, {once: true});
      });
    });
  }
});

setTimeout(()=>{
  const spin_btn = document.querySelector("#spinButton-{{-block.id-}}");
  if (spin_btn) {
    spin_btn.click();
  }
},1000);


document.querySelector("#spinButton-{{-block.id-}}").addEventListener("touchstart", function(event) {
    document.querySelector("#spin-up-{{-block.id-}}").style.display = "none";
    document.querySelector("#spin-down-{{-block.id-}}").style.display = "block";
});

document.querySelector("#spinButton-{{-block.id-}}").addEventListener("touchend", function(event) {
    document.querySelector("#spin-down-{{-block.id-}}").style.display = "none";
    document.querySelector("#spin-up-{{-block.id-}}").style.display = "block";
});

document.querySelector("#spinButton-{{-block.id-}}").addEventListener("mousedown", function(event) {
    document.querySelector("#spin-up-{{-block.id-}}").style.display = "none";
    document.querySelector("#spin-down-{{-block.id-}}").style.display = "block";
});

document.querySelector("#spinButton-{{-block.id-}}").addEventListener("mouseup", function(event) {
    document.querySelector("#spin-down-{{-block.id-}}").style.display = "none";
    document.querySelector("#spin-up-{{-block.id-}}").style.display = "block";
});
</script>

{% comment %} =============== Add to cart Ajax call =============== {% endcomment %}
<script>
document.addEventListener("DOMContentLoaded", function() {
const addToCartButton = document.querySelector("#add-to-cart-button-{{-block.id-}}");
addToCartButton.addEventListener('click', async (event) => {
  try {
    addToCartButton.classList.add("active")
    const props = {};
    const selectedProducts = document.querySelectorAll(".activeProduct-{{-block.id-}}");
    selectedProducts.forEach((product, index) => {
      const propTitle = product.getAttribute("data-title");
      props[`Product ${index + 1}`] = `${propTitle}`;
    });
    const requestData = {
      quantity: 1,
      id: 44937506423083,
      properties: props
    };

    const response = await fetch('/cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(requestData)
    });
    console.log("Merox Data", response)
    if (response.ok) {
      const data = await response.json();
      console.log("Merox Data", data)
      addToCartButton.classList.remove("active")
      window.location.href = '/cart';
    } else {
      console.error('Error:', response.statusText);
    }
  } catch (error) {
    console.error('Error:', error);
  }
});
})
</script>
